{% extends "layout.html" %}
{% block content %}

<form action="/galleryWriteAction" method="POST" enctype="multipart/form-data">
    <div class="col-md-6">
        <label for="inputComment4" class="form-label">코멘트</label>
        <input type="text" class="form-control" id="inputComment4" name="inputComment4">
    </div>
    <br>
    <div class="col-md-6">
        <input type="file" name="inputFile4" id="inputFile4" />
    </div>
    <br>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">업로드</button>
    </div>
</form>

{% endblock %}